---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section.astro';
import Title from '@components/Title.astro';

const title = 'Code';
---

<BaseLayout title={ title }>
  <Section>
    <Title>{ title }</Title>
    <!-- TODO -->
  </Section>
</BaseLayout>

<style>
</style>
