---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section.astro';
import Title from '@components/Title.astro';
import Card from '@components/Card.astro';
const title = 'Recipes';

const allRecipes = await getCollection('recipes');
const images = import.meta.glob<ImageMetadata>('/src/assets/recipes/*', { import: 'default' });
---

<BaseLayout title={ title }>
  <Section>
    <Title>{ title }</Title>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 my-8">
      {
        allRecipes.map(async (recipe) => (
          <Card
            title={recipe.data.title}
            description={recipe.data.description}
            link={`/recipes/${recipe.slug}`}
            image={await images[`/src/assets/recipes/${recipe.data?.image?.src || 'recipes.svg'}`]()}
            imageAlt={recipe.data.image?.alt}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
