.contact {
    &__base {
        padding: 10%;

        .form {
            display: flex;
            flex-direction: column;
            padding: 3px;
    
            &__input {
                display: flex;
                flex: 1;
            }
    
            &__info {
                display: flex;
                flex-direction: column;
            }

            &__message {
                display: flex;
            }

            &__name,
            &__email,
            &__textarea,
            &__submit {
                @include font($f-p);
                padding: 7px;
                border: none;
                margin: 8px 0px;
                background-color: $c-background-light;
                border-radius: 5px;
                

                &:focus {
                    outline: none;
                }
            }
    
            &__textarea {
                width: 90%;
                margin-left: auto;
            }

            &__submit {
                cursor: pointer;
                text-align: center;
                transition: background-color .5s ease-in, color .5s ease-in;

                &:hover {
                    background-color: $c-text-dark;
                    color: $c-background-light;
                }
            }
        }
    }

    &__title {
        @include font($f-h2);
    }

    &__subtitle {
        @include font($f-p);
        text-align: center;
    }
}