.hero {
    &__base {
        min-height: 50vh;
        background: url("../assets/heroImage.jpg") no-repeat center center fixed;
        background-size: cover;

        @include susy-breakpoint($bp-tablet) {
            min-height: 100vh;
        }
    }

    &__content{
        padding: 30% 20px;

        @include susy-breakpoint($bp-tablet) {
            padding: 20% 80px;
        }
    }
    
    &__title {
        @include font($f-hero-title);
        padding: 10px 20px;
        margin-bottom: 0px;

        @include susy-breakpoint($bp-desktop) {
            padding: 10px 80px;
        }

        @include susy-breakpoint($bp-large-desktop) {
            padding: 10px 20px;
        }
    }

    &__subtitle {
        @include font($f-hero-subtitle);
        margin-top: 0px;
    }
}
