.navbar {

    &__list {
        list-style-type: none;
    }

    li {
        display: inline; 

        a {
            color: red;
            text-decoration: none;
            user-select: none;
        }
    }
}