.quote {
    &__base {
        padding: 15% 10%;
        background-attachment: fixed;
        background-blend-mode: multiply;
        background-color: gray;
        background-position: center top;
        background-size: cover;
        transition: background-color .5s ease-in;

        &:hover {
            background-color: transparent;
        }
    }

    &__message {
        @include font($f-quote-message);
    }

    &__author {
        @include font($f-quote-author);
    }
}