.resume {
    &__base {
        display: flex;
        justify-content: space-between;
        padding: 7%;
        background-color: $c-hero-yellow;

        .quote__message {
            display: inline-block;
            color: $c-text-dark;
            text-align: left;
        }
    }

    &__download {
        @include font($f-p);
        align-self: center;
        padding: 7px 15px;
        border: 2px solid $c-text-dark;
        background-color: $c-text-dark;
        border-radius: 5px;
        color: $c-hero-yellow;
        text-decoration: none;
        transition: background-color .5s ease-in, color .5s ease-in;

        &:hover {
            background-color: $c-hero-yellow;
            color: $c-text-dark;
        }
    }
}