---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section.astro';
import Title from '@components/Title.astro';

const title = 'Contact';
---

<BaseLayout title={ title }>
  <Section class="text-center">
    <Title>{ title }</Title>

    <p class="text-lg font-light mt-4">Please get in touch, for sure it will be a positive experience!</p>

    <form action="https://formspree.io/mvokagnl" method="POST" class="flex flex-col gap-2 mt-8 max-w-md mx-auto">
      <div class="form-control w-full">
        <label class="label flex-col items-start">
          <span class="label-text">Your name</span>
          <input type="text" name="name" placeholder="Ioana" class="input input-bordered w-full" />
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label flex-col items-start">
          <span class="label-text">Your email</span>
          <input type="text" name="_replyto" placeholder="ioanaorca@gmail.com" class="input input-bordered w-full" />
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label flex-col items-start">
          <span class="label-text">The message</span>
          <textarea name="message" placeholder="Hello, how are you? ..." class="textarea textarea-bordered h-24 w-full" />
        </label>
      </div>

      <input type="text" name="_gotcha" class="hidden" />
      <button class="btn mt-4" type="submit">Send</button>
    </form>

  </Section>
</BaseLayout>
