---

---

<form action="https://formspree.io/mvokagnl" method="POST" class="flex flex-col gap-2 mt-8 max-w-md mx-auto">
  <div class="form-control w-full">
    <label class="label flex-col items-start">
      <span class="label-text">Your name</span>
      <input type="text" name="name" placeholder="Ioana" class="input input-bordered w-full caret-primary" />
    </label>
  </div>

  <div class="form-control w-full">
    <label class="label flex-col items-start">
      <span class="label-text">Your email</span>
      <input type="text" name="_replyto" placeholder="ioanaorca@gmail.com" class="input input-bordered w-full caret-primary" />
    </label>
  </div>

  <div class="form-control w-full">
    <label class="label flex-col items-start">
      <span class="label-text">The message</span>
      <textarea name="message" placeholder="Hello, how are you? ..." class="textarea textarea-bordered h-24 w-full caret-primary" />
    </label>
  </div>

  <input type="text" name="_gotcha" class="hidden" />
  <button class="btn btn-primary mt-4" type="submit">Send</button>
</form>
