@charset "UTF-8";
// Breakpoints
$bp-mobile: 0;
$bp-tablet: 600px;
$bp-desktop: 992px;
$bp-large-desktop: 1200px;
// Breakpoints
$mobile: $bp-mobile;
$tablet: $bp-tablet;
$desktop: $bp-desktop;
$large-desktop: $bp-large-desktop;

// Mobile
$bp-mobile-min: 0;
$bp-mobile-max: $bp-tablet - 1;
$bp-mobile-only: $bp-mobile-min $bp-mobile-max;
// Tablet
$bp-tablet-min: $bp-tablet;
$bp-tablet-max: $bp-desktop - 1;
$bp-tablet-only: $bp-tablet-min $bp-tablet-max;
// Desktop
$bp-desktop-min: $bp-desktop;
$bp-desktop-max: $bp-large-desktop - 1;
$bp-desktop-only: $bp-desktop-min $bp-desktop-max;
// Large Desktop
$bp-large-desktop-min: $bp-large-desktop;
$bp-large-desktop-only: $bp-large-desktop;

// Combined
$bp-mobile-tablet: $bp-mobile-min $bp-tablet-max;

:root {
    --bp-tablet: #{$bp-tablet};
}