$hamburger-padding-x           : 6px;
$hamburger-padding-y           : 10px;
$hamburger-layer-color         : #4d4d4d;
$hamburger-types: (
    spring
);
@import '~hamburgers/_sass/hamburgers/hamburgers';