---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section.astro';
import Title from '@components/Title.astro';
import Card from '@components/Card.astro';
const title = 'Cooking';

const allEntries = await getCollection('cooking');
const images = import.meta.glob<ImageMetadata>('/src/assets/cooking/*', { import: 'default' });
---

<BaseLayout title={ title }>
  <Section>
    <Title>{ title }</Title>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 my-8">
      {
        allEntries.map(async (entry) => (
          <Card
            title={entry.data.title}
            description={entry.data.description}
            link={`/cooking/${entry.slug}`}
            image={await images[`/src/assets/cooking/${entry.data?.image?.src || 'cooking.svg'}`]()}
            imageAlt={entry.data.image?.alt}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
